<!DOCTYPE html>
<html lang="{{ site.locale }}"{% if site.color_scheme == "Dark" %} class="dark-mode"{% elsif site.color_scheme == "Auto" %} class="auto-color"{% endif %}>
<head>

    {% include dynamic_title.html %}
    <title>{% if title %}{{ title }}{% elsif page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="{{ "/assets/built/global.css" | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/built/screen.css" | relative_url }}">

    {% include head.html %}

</head>
<body class="{% if paginator.page > 1 %}paged archive-template{% elsif page.class %}{{ page.class }}{% else %}home-template{% endif %} 
    {% if site.title_font == "Elegant serif" %} has-serif-title{% endif %}{% if site.body_font == "Modern sans-serif" %} has-sans-body{% endif %}
    {% if site.cover or page.cover %} has-cover {% endif %}{% if page.current == "home" %}{% unless site.show_logo_in_navigation %} no-logo{% endunless %}{% endif %}">
<div class="viewport">
    <header id="gh-head" class="gh-head outer">
        <nav class="gh-head-inner inner">
            <div class="gh-head-brand">
                <a class="gh-head-logo{% unless site.logo %} no-image{% endunless %}" href="{{ site.url }}{{ site.baseurl }}">
                    {% if site.logo %}
                        <img src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" />
                    {% else %}
                        {{ site.title }}
                    {% endif %}
                </a>
                <div class="gh-head-brand-wrapper">
                    <a class="gh-burger" role="button">
                        <div class="gh-burger-box">
                            <div class="gh-burger-inner"></div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="gh-head-menu">
                <ul class="nav" role="menu">
                    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
                    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
                    <!-- <li class="nav-getting-started" role="menuitem"><a href="{{site.baseurl}}tag/wireguard/">Getting Started</a></li> -->
                    <li class="nav-try-ghost" role="menuitem"><a href="{{site.baseurl}}impressum/">Impressum/Datenschutz</a></li>
                </ul>                
            </div>
            <div class="gh-head-actions">
                <div class="gh-social">
                    {% if site.facebook %}<a href="https://facebook.com/{{ site.facebook }}" target="_blank" rel="noopener" class="gh-social-link gh-social-facebook">Facebook</a>{% endif %}
                    {% if site.twitter %}<a href="https://twitter.com/{{ site.twitter }}" target="_blank" rel="noopener" class="gh-social-link gh-social-twitter">Twitter</a>{% endif %}
                    {% if site.github %}<a href="https://github.com/{{ site.github }}" target="_blank" rel="noopener" class="gh-social-link gh-social-github">{% include icons/github.html %}</a>{% endif %}
                    {% if site.rss %}<a href="{{ site.baseurl }} {% if site.feed.path %} {{site.feed.path}} {% else %} feed.xml {% endif %}" target="_blank" rel="noopener" class="gh-social-link gh-social-rss">{% include icons/rss.html %}</a>{% endif %}
                </div>
                    <!-- The big email subscribe modal content -->
                {% if site.subscribers %}
                <div id="subscribe" class="subscribe-overlay">
                    <a class="subscribe-overlay-close gh-head-button" href="#"></a>
                    <div class="subscribe-overlay-content">
                        {% if site.logo %}
                            <img class="subscribe-overlay-logo" src="{{ site.baseurl }}{{ site.logo }}" alt="{{ site.title }}" />
                        {% endif %}
                        <h1 class="subscribe-overlay-title">Subscribe to {{ site.title }}</h1>
                        <p class="subscribe-overlay-description">Stay up to date! Get all the latest &amp; greatest posts delivered straight to your inbox</p>
                        {% include subscribe-form.html placeholder="youremail@example.com" %}
                    </div>
                </div>
                {% endif %}
            </div>
        </nav>
    </header>


    <div class="site-content">
            {{ content }}
            <!-- Previous/next page links - displayed on every page -->

        </div>


        <footer class="site-footer outer">
            <div class="inner">
                <section class="copyright"><a href="{{ site.url }}">{{ site.title }}</a> &copy; {{  site.time | date: '%Y' }}</section>
                <nav class="site-footer-nav">
                  
                    <!-- put bottom nav here -->
                </nav>
                <div><a href="https://ghost.org/" target="_blank" rel="noopener">Powered by Ghost</a></div>
            </div>
        </footer>
    </div>
</body>



<script
    src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous">
</script>

<script src="{{ "assets/built/kaschber.js" | relative_url }}"></script> 


<script>
$(document).ready(function () {
    // Mobile Menu Trigger
    $('.gh-burger').click(function () {
        $('body').toggleClass('gh-head-open');
    });
    // FitVids - Makes video embeds responsive
    $(".gh-content").fitVids();
});
</script>

</body>
</html>
